@model IndexModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer

<div id="dialog-policy" class="mtd-dialog mtd-dialog-hidden" style="max-width: 640px; top: 0;">
    <div class="mtd-dialog-container">
        <div class="mtd-dialog-title">
            <div>
                @Localizer["Edit policy for registered user"]
            </div>
            <div>
                <button type="button" mtd-dialog-cancel class="mdc-icon-button material-icons">close</button>
            </div>
        </div>
        <div class="mtd-dialog-content">


            @await Component.InvokeAsync(typeof(MTDSelectList), new MTDSelectListTags
            {
                Id = "policyId",
                Name = "RegisterUserPolicyId",
                Items = Model.UserPolicies,
                Label = "Policies",
                LabelLocalized = true,
                MTDSelectListView = MTDSelectListViews.Default
            })

            <div class="mtd-dialog-buttons">
                <button mtd-dialog-cancel type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="yes" onclick="OnChangePolicy()">
                    <div class="mdc-button__ripple"></div>
                    <span class="mdc-button__label">@Localizer["Change"]</span>
                </button>
                <button mtd-dialog-cancel type="button" class="mdc-button mdc-dialog__button" data-mdc-dialog-action="no">
                    <div class="mdc-button__ripple"></div>
                    <span class="mdc-button__label">@Localizer["Close"]</span>
                </button>
            </div>
        </div>
    </div>
</div>
