@using Microsoft.Extensions.Localization
@using MtdKey.OrderMaker.Components.AttachedFiles
@model AttachedFilesModel
@inject IStringLocalizer<SharedResource> localizer

@{
    var thisModel = Model ?? new AttachedFilesModel();
}


<div class="p-2">
    @foreach (var file in thisModel.Files)
    {
        var name = file.Name ?? string.Empty;
        if (name.Length > 25)
        {
            name = $"{name[..23]}..{System.IO.Path.GetExtension(name)}";
        }
        <div class='file-link d-inline-block text-truncate' style='max-width: 250px;'>
            <a class='text-nowrap' target='_blank' href="~/api/file/@file.Id"><i class='bi bi-paperclip'></i>@name</a>
        </div>    
    }
</div>
