

<template id="itemTemplate">
    <div data-item style="display: flex; align-items: center; padding: 8px">
        <div style="padding: 4px">
            <input data-item-default class="form-check-input" type="radio" name="radioName">
        </div>
        <div style="flex-grow: 1; padding: 4px;">
            <input data-item-id value="Item" style="width: 100%; padding: 2px 8px 2px 8px; border: none" />
        </div>
        <div style="padding: 4px;">
            <button data-item-remover class="btn btn-light text-danger"><i class="bi bi-x-circle"></i></button>
        </div>
    </div>
</template>

