@*
    MTD OrderMaker - http://mtdkey.com
    Copyright (c) 2019 Oleg Bruev <job4bruev@gmail.com>. All rights reserved.
*@

@model Core.DocFieldModel

@using MtdKey.OrderMaker.Components.AttachedFiles

<div class="attachedFiles__column">
    @await Component.InvokeAsync(typeof(AttachedFiles), new AttachedFilesModel
    {
        Id = Model.Id,
        Name = $"field-{Model.Id}",
        AttachedFilesView = AttachedFilesView.Default,
        Label =Model.Name,
        Files = (List<AttachedFile>)Model.Value
    })
</div>

