<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no">

    <title>@ViewData["Title"] | OrderMaker</title>


    <link rel="stylesheet" href="~/lib/google/css/MaterialIcons.css" />
    <link rel="stylesheet" href="~/lib/google/css/material-components-web.min.css" />
    <link rel="stylesheet" href="~/lib/google/css/roboto.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/lib/mtd-ordermaker/main/css/mtd-main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/mtd-ordermaker/main/css/mtd-app.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/lib/mtd-ordermaker/identity/css/mtd-identity.css" asp-append-version="true" />
</head>
<body class="mdc-typography">
    @*<partial name="_CookieConsentPartial" />*@
    <noscript>You need to enable JavaScript to run this app.</noscript>

    @RenderBody()


    <div id="main-snack" class="mdc-snackbar">
        <div class="mdc-snackbar__surface">
            <div class="mdc-snackbar__label"
                 role="status"
                 aria-live="polite">
            </div>
            <div class="mdc-snackbar__actions">
                <button class="mdc-icon-button mdc-snackbar__dismiss material-icons">close</button>
            </div>
        </div>
    </div>

    <script src="~/lib/google/js/material-components-web.min.js" asp-append-version="true"></script>

    <script src="~/lib/bootstrap-5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/mtd-ordermaker/main/js/ripple.js" asp-append-version="true"></script>
  
    <script src="~/lib/mtd-ordermaker/main/js/mtd-text-field.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>